{% extends "index.html" %}
{% block content %}
<div class="container-fluid">

    <div class="row" style="margin: 60px">

        <div class="col-md-12">

            <h2 style="margin-left: 20px">Top Loved</h2>

            {% for intance in courselist %}


            <div class="card cardblock">
                <div class="card-body">

                    <h5 align="center">{{intance.coursename}} </h5>
                    <img src="{{intance.thumbnailimage}}" alt="Avatar"
                         style="width: 100px; border-radius: 50%; display: block;
                           margin: 25px auto 25px auto;"/>
                    <div class="row">
                        <div class="col-md-7">
                            <h6>{{intance.coursecount}} Lessons </h6>
                            <h6>For {{intance.difficulty}}</h6>
                        </div>
                        <div class="col-md-5">
                            <span class="badge badge-success" style="padding: 5px;">{{intance.skills}}</span>

                        </div>
                    </div>

                    <a href="course/{{intance.pk}}/{{intance.coursename}}"
                    role="button" class="btn btn-outline-success" style="display: block;
                           margin: 20px auto 20px auto;">

                            <i class="fa fa-play" style="margin-right: 6px;"></i> Start Learning

                    </a>

                </div>

            </div>


            {%endfor%}


        </div>


    </div>
    <div class="row" style="margin: 60px">

        <div class="col-md-12">

            <h2 style="margin-left: 20px">Recent Uploads</h2>

            {% for intance in courselist %}

            <a href="course/{{intance.pk}}/{{intance.coursename}}">
                <div class="card"
                     style="display: inline-block; height: 350px;
                     width: 280px; margin: 20px; background: #ced6e0;">
                    <div class="card-body">

                        {{intance.coursename}}


                    </div>

                </div>
            </a>

            {%endfor%}


        </div>


    </div>
    <div class="row" style="margin: 60px">

        <div class="col-md-12">

            <h2 style="margin-left: 20px">For Beginners</h2>

            {% for intance in courselist %}

            <a href="course/{{intance.pk}}/{{intance.coursename}}">
                <div class="card"
                     style="display: inline-block; height: 350px;
                     width: 280px; margin: 20px; background: #ced6e0;">
                    <div class="card-body">

                        {{intance.coursename}}


                    </div>

                </div>
            </a>

            {%endfor%}


        </div>


    </div>
    <div class="row" style="margin: 60px">

        <div class="col-md-12">

            <h2 style="margin-left: 20px">Advanced for pro</h2>

            {% for intance in courselist %}

            <a href="course/{{intance.pk}}/{{intance.coursename}}">
                <div class="card"
                     style="display: inline-block; height: 350px;
                     width: 280px; margin: 20px; background: #ced6e0;">
                    <div class="card-body">

                        {{intance.coursename}}


                    </div>

                </div>
            </a>

            {%endfor%}


        </div>


    </div>

</div>
{% endblock %}