{% extends "index.html" %}
{% block content %}
<div class="container-fluid">

    <div class="row" style="margin-top:50px; margin-bottom: 30px">

        <div class="col-md-12">

            <blockquote class="blockquote" style=" text-align: center">
              <p class="mb-0">Want an exiting career? Join today</p>
            </blockquote>

        </div>


    </div>

    <div class="row" style="margin-top:10px; margin-bottom: 30px">

        <div class="col-md-1"></div>

        <div class="col-md-5">

            <div class="card" style="margin-top: 40px; margin-bottom: 40px; width: auto; padding: 20px;">
                <h3>Join us by creating an account..</h3>

                <div class="card-body">

                    <form method="post" action="{% url 'signup' %}"> {% csrf_token %}
                        <div class="form-group">

                            <label for="name">Your Name</label>
                            <input type="text" name="name" class="form-control" id="name">
                        </div>
                        <div class="form-group">

                            <label for="email">Your Email</label>
                            <input type="email" name="email" class="form-control" id="email">

                        </div>
                        <div class="form-group">
                            <label for="password">Give a password</label>
                            <input type="password" name="password" class="form-control" id="password">

                        </div>
                        <div class="form-group">
                            <button type="submit" name="signupfrom" class="btn btn-success"
                                    value="signupformvalue">Signup
                            </button>

                            <p style="text-align: right; color:red; float: right; margin-right: 83px;">
                                {{formValidationsup}}</p>
                        </div>
                    </form>


                </div>
            </div>

        </div>
        <div class="col-md-5">

            <div class="card" style="margin-top: 40px; margin-bottom: 40px; width: auto; padding: 20px;">

                <h3>Sign in to continue..</h3>

                <div class="card-body">


                    <form method="post" action="{% url 'signin' %}"> {% csrf_token %}

                        <div class="form-group">

                            <label for="inemail">Your Email</label>
                            <input type="email" name="inemail" class="form-control" id="inemail">

                        </div>
                        <div class="form-group">
                            <label for="inpassword">Your Password</label>
                            <input type="password" name="inpassword" class="form-control" id="inpassword">

                        </div>
                        <div class="form-group">
                            <button type="submit" name="signinfrom" class="btn btn-success"
                                    value="signinformvalue">Signin
                            </button>

                            <p style="text-align: right; color:red; float: right; margin-right: 83px;">
                                {{formValidationin}}</p>
                        </div>
                    </form>

                </div>
            </div>

        </div>

        <div class="col-md-1">
        </div>
    </div>
</div>

{% endblock %}