{% extends "index.html" %}
{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-11" style="text-align: right">

            <p>Welcome, {{uname}}!</p>
            <p><a href="#">Logout</a> </p>

        </div>
        <div class="col-md-1">

        </div>

    </div>

    <div class="row" style="margin: 30px;">
        <div class="col-md-6">

            <div class="card" style="padding: 30px;">
                <h3>My Current Courses</h3>

                <div class="card-body">

                </div>

            </div>

             <div class="card" style="padding: 30px; margin-top:50px">
                <h3> Completed Courses</h3>

                <div class="card-body">

                </div>

            </div>


        </div>
        <div class="col-md-6">
            <div class="card" style="padding: 30px;">
                <h3> My Learning</h3>

                <div class="card-body">


                </div>

            </div>
            <div class="card" style="padding: 30px;margin-top:50px">
                <h3> Subscription</h3>

                <div class="card-body">


                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}